# Visual Studio
.vs/
*.user
*.suo

# .NET
**/bin/
**/obj/

# Logs
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment files
.env
.env.*
!.env.example

# React
dist/
build/

# OS
.DS_Store
Thumbs.db